{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-css-order",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
