.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/login.png') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
