.side-bar-item-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  min-height: 30px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    border-radius: 8px;
    background: lightgrey;
  }

  &.active {
    border-radius: 8px;
    background: lightblue;
  }
}

.side-bar-item-container .side-bar-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-item-container .side-bar-item-title {
  font-size: 12px;
}
