.side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10px;
  min-height: 100vh;
}

.side-bar-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0px 0px 10px 0;
  min-height: 50px;
  .title {
    font-weight: bold;
    font-size: 15px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
      border-radius: 4px;
      background: lightgrey;
    }
  }
}

.side-bar-container .slot {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side-bar-container .footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3px;
  border-top: 1px solid #ddd;

  padding: 10px 0px 0px 0px;
  min-height: 50px;

  .icon {
    display: flex;
    justify-content: center;
  }

  .author .name {
    font-weight: bold;
    font-size: 10px;
  }

  .author .email {
    color: #666;
    font-size: 8px;
  }
}
