.side-bar-item-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  min-height: 30px;

  &:hover {
    border-radius: 8px;
    background: lightgrey;
  }

  &.active {
    border-radius: 8px;
    background: lightblue;
  }
}

.side-bar-item-container .side-bar-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-item-container .side-bar-item-title {
  min-width: 100px;
  overflow: hidden;
  font-size: 12px;
}
