.dash-board-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 0.625rem;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.dash-board-container > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  min-height: 3.125rem;

  .title {
    font-weight: bold;
    font-size: 1rem;
  }

  .update-time {
    font-size: 0.75rem;
  }
}

.dash-board-container > .body {
  display: grid;
  grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(300px, 1.5fr);
  grid-template-areas:
    'totalPL calendarPL calendarDividend recentTransaction'
    'timeSeries timeSeries timeSeries recentTransaction'
    'timeSeries timeSeries timeSeries recentTransaction'
    'pivotTable pivotTable pivotTable recentTransaction'
    'pivotTable pivotTable pivotTable recentTransaction';
  gap: 0.625rem;
  transition: all 1s;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: calc(100% - 3.125rem);
  overflow: auto;

  &.expanded-default {
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(300px, 1.5fr);
  }

  &.expanded-totalPL {
    grid-template-rows: minmax(42rem, 5fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr);
    grid-template-columns: minmax(42rem, 8fr) minmax(2rem, 1fr) minmax(2rem, 1fr) minmax(2rem, 1fr);
  }

  &.expanded-calendarPL {
    grid-template-rows: minmax(42rem, 5fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr);
    grid-template-columns: minmax(2rem, 1fr) minmax(42rem, 8fr) minmax(2rem, 1fr) minmax(2rem, 1fr);
  }

  &.expanded-calendarDividend {
    grid-template-rows: minmax(42rem, 5fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr) minmax(0.5rem, 1fr);
    grid-template-columns: minmax(2rem, 1fr) minmax(2rem, 1fr) minmax(42rem, 8fr) minmax(2rem, 1fr);
  }

  &.expanded-timeSeries {
    grid-template-rows: minmax(3rem, 1fr) minmax(41rem, 5fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr);
    grid-template-columns: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr);
    grid-template-areas:
      'totalPL calendarPL calendarDividend recentTransaction'
      'timeSeries timeSeries timeSeries timeSeries'
      'timeSeries timeSeries timeSeries timeSeries'
      'pivotTable pivotTable pivotTable pivotTable'
      'pivotTable pivotTable pivotTable pivotTable';
  }

  &.expanded-pivotTable {
    grid-template-rows: minmax(3rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(38rem, 1fr) minmax(5rem, 1fr);
    grid-template-columns: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr);
    grid-template-areas:
      'totalPL calendarPL calendarDividend recentTransaction'
      'timeSeries timeSeries timeSeries timeSeries'
      'timeSeries timeSeries timeSeries timeSeries'
      'pivotTable pivotTable pivotTable pivotTable'
      'pivotTable pivotTable pivotTable pivotTable';
  }

  &.expanded-recentTransaction {
    grid-template-rows: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr);
    grid-template-columns: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(38rem, 1fr) minmax(5rem, 1fr);
    grid-template-areas:
    'totalPL recentTransaction recentTransaction recentTransaction'
    'calendarPL recentTransaction recentTransaction recentTransaction'
    'calendarDividend recentTransaction recentTransaction recentTransaction'
    'timeSeries recentTransaction recentTransaction recentTransaction'
    'pivotTable recentTransaction recentTransaction recentTransaction';
  }
}
