.home-page-container {
  display: grid;
  grid-template-rows: 1fr 0.05fr;
  grid-template-columns: 3rem 1fr;
  grid-template-areas:
    'sidebar main'
    'sidebar footer';
  transition: grid-template-columns 0.15s;
  width: 100vw;
  height: 100vh;

  &.side-bar-expanded-true {
    grid-template-columns: 10rem 1fr;
  }
}
