.home-page-container {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  grid-template-columns: 48px 1fr;
  grid-template-areas:
    'sidebar main'
    'sidebar footer';
  transition: grid-template-columns 0.15s;
  width: 100vw;
  height: 100vh;
}

.home-page-container.side-bar-expanded {
  grid-template-columns: 150px 1fr;
}

.home-page-container .side-bar-grid {
  grid-area: sidebar;
}
