.side-bar-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
  padding: 0.375rem;
  min-height: 1.875rem;

  &:hover {
    border-radius: 0.5rem;
    background: lightgrey;
  }

  &.active {
    border-radius: 0.5rem;
    background: lightblue;
  }
}

.side-bar-item-container .side-bar-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-item-container .side-bar-item-title {
  min-width: 6.25rem;
  overflow: hidden;
  font-size: 0.75rem;
}
